In [12]:
import pandas as pd
from datetime import datetime

def convert_to_epoch(ts):
    dt = datetime.strptime(str(ts), '%Y-%m-%d %H:%M:%S')
    return int(dt.timestamp())

In [8]:
model = "meta-llama3-8b-instruct"

stats_df = pd.read_csv('data/%s_users_stats.csv' % model)
stats_history_df = pd.read_csv('data/%s_users_stats_history.csv' % model)
# gpu_util_df = pd.read_csv('data/%s_gpu_util.csv')
gpu_util_df = pd.read_csv('data/gpu_util.csv')

In [18]:
stats_df

,Type,Name,Request Count,Failure Count,Median Response Time,Average Response Time,Min Response Time,Max Response Time,Average Content Size,Requests/s,...,66%,75%,80%,90%,95%,98%,99%,99.9%,99.99%,100%
0,POST,/v1/completions,357,0,4200.0,4264.784911,2812.826954,5646.739586,766.137255,12.330746,...,4500,4700,4800,5100,5300,5500,5600,5600,5600,5600
1,NaN,Aggregated,357,0,4200.0,4264.784911,2812.826954,5646.739586,766.137255,12.330746,...,4500,4700,4800,5100,5300,5500,5600,5600,5600,5600

In [20]:
gpu_util_df['Timestamp'] = gpu_util_df['Timestamp'].apply(convert_to_epoch)
stats_history_df['Timestamp'] = stats_history_df['Timestamp'].astype(int)
gpu_util_df['Timestamp'] = gpu_util_df['Timestamp'].astype(int)

In [22]:
merged_data = pd.merge_asof(stats_history_df.sort_values('Timestamp'),
                            gpu_util_df.sort_values('Timestamp'),
                            on='Timestamp',
                            direction='nearest')

In [23]:
merged_data

,Timestamp,User Count,Type,Name,Requests/s,Failures/s,50%,66%,75%,80%,...,99.99%,100%,Total Request Count,Total Failure Count,Total Median Response Time,Total Average Response Time,Total Min Response Time,Total Max Response Time,Total Average Content Size,GPU Utilization (%)
0,1717036067,0,NaN,Aggregated,0.000000,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0
1,1717036068,25,NaN,Aggregated,0.000000,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,68
2,1717036069,50,NaN,Aggregated,0.000000,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,66
3,1717036070,75,NaN,Aggregated,0.000000,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,59
4,1717036071,100,NaN,Aggregated,0.000000,0.0,3200.0,3200.0,3200.0,3200.0,...,3200.0,3200.0,25,0,3185.491099,3175.215904,3166.050421,3185.491099,759.920000,38
5,1717036072,100,NaN,Aggregated,0.000000,0.0,3900.0,3900.0,3900.0,3900.0,...,3900.0,3900.0,50,0,3200.000000,3518.602902,3166.050421,3869.217166,761.700000,52
6,1717036073,100,NaN,Aggregated,0.000000,0.0,3900.0,3900.0,3900.0,3900.0,...,3900.0,3900.0,50,0,3200.000000,3518.602902,3166.050421,3869.217166,761.700000,69
7,1717036074,100,NaN,Aggregated,6.250000,0.0,3900.0,3900.0,4200.0,4200.0,...,4300.0,4300.0,75,0,3900.000000,3761.541432,3166.050421,4252.101473,759.720000,70
8,1717036075,100,NaN,Aggregated,8.333333,0.0,3900.0,4200.0,4200.0,4200.0,...,4300.0,4300.0,102,0,3900.000000,3860.849156,3166.050421,4252.101473,762.774510,66
9,1717036076,100,NaN,Aggregated,10.714286,0.0,3900.0,4200.0,4200.0,4200.0,...,4300.0,4300.0,108,0,3900.000000,3841.253243,3166.050421,4252.101473,763.555556,41
10,1717036077,100,NaN,Aggregated,12.500000,0.0,3900.0,4200.0,4200.0,4200.0,...,4300.0,4300.0,115,0,3900.000000,3847.099361,3166.050421,4252.101473,764.130435,69
11,1717036078,100,NaN,Aggregated,11.777778,0.0,3900.0,4200.0,4200.0,4200.0,...,4300.0,4300.0,124,0,3900.000000,3859.980055,3166.050421,4252.101473,763.943548,67
12,1717036079,100,NaN,Aggregated,10.900000,0.0,4000.0,4200.0,4200.0,4200.0,...,4400.0,4400.0,133,0,4000.000000,3895.072313,3166.050421,4448.355836,764.285714,63
13,1717036080,100,NaN,Aggregated,12.000000,0.0,4100.0,4200.0,4200.0,4200.0,...,4800.0,4800.0,139,0,4100.000000,3925.611498,3166.050421,4751.172162,765.503597,33
14,1717036081,100,NaN,Aggregated,12.600000,0.0,4200.0,4200.0,4300.0,4400.0,...,5200.0,5200.0,161,0,4200.000000,4079.288595,3166.050421,5187.210816,765.422360,55
15,1717036082,100,NaN,Aggregated,13.600000,0.0,4200.0,4300.0,4700.0,4800.0,...,5200.0,5200.0,185,0,4200.000000,4180.750215,3166.050421,5187.210816,764.589189,65
16,1717036083,100,NaN,Aggregated,12.000000,0.0,4200.0,4400.0,4700.0,4800.0,...,5200.0,5200.0,208,0,4200.000000,4209.666222,3166.050421,5187.210816,765.269231,71
17,1717036084,100,NaN,Aggregated,14.700000,0.0,4200.0,4300.0,4500.0,4700.0,...,5200.0,5200.0,230,0,4200.000000,4148.863866,2964.751657,5187.210816,765.482609,71
18,1717036085,100,NaN,Aggregated,14.700000,0.0,4200.0,4300.0,4500.0,4700.0,...,5200.0,5200.0,230,0,4200.000000,4148.863866,2964.751657,5187.210816,765.482609,22
19,1717036086,100,NaN,Aggregated,13.900000,0.0,4200.0,4300.0,4500.0,4700.0,...,5200.0,5200.0,232,0,4200.000000,4145.313997,2964.751657,5187.210816,765.439655,43
20,1717036087,100,NaN,Aggregated,13.000000,0.0,4200.0,4300.0,4500.0,4700.0,...,5200.0,5200.0,238,0,4200.000000,4146.812474,2964.751657,5187.210816,765.151261,63